<div class="">
    <img src="assets/img/1.jpg" class="">
    <div class="sub tittle">
        Gestión De Platillos
    </div>
    <div *ngFor="let platillo of platillos" class="container">
        <!-- <img class="card-img-top" src="../../../assets/img/p1.jpg" alt="Card image cap"> -->
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">{{platillo.strNombre}}</h5>
                </div>

                <div class="col-10">
                    .................................................................................................................................................................................................................................................. ${{platillo.nmbPrecio}}
                </div>
            </div>

            <p class="card-text">{{platillo.strDescripcion}}</p>

        </div>
    </div>


    <br>
    <img class="base" src="assets/img/2.jpg">
</div>