<div class="contenedor">
    <img src="assets/img/1.jpg" class="card-img-top">
    <div class="sub tittle">
        Gestión De Platillos
    </div>

    <div class="style text">
        <div class="padding">
            <div class="row ">
                <div class="col-md-4">
                    <div class=" " *ngIf="registrarPlatillos">
                        <app-insertar-platillos [idPlatillos]="idPlatillos" (terminarActualizacion)="cancelarEditar($event)"></app-insertar-platillos>
                    </div>
                    <div class="" *ngIf="actualizarPlatillos">
                        <app-editar-platillos [idPlatillos]="idPlatillos" (terminarActualizacion)="cancelarEditar($event)"></app-editar-platillos>
                    </div>
                </div>
                <!-- TABLA -->


                <div class="col-md-8">
                    <div class="row container mt-4">

                        <div class="col-md-11 mt-2">
                            <input type="text" [(ngModel)]="buscarTexto" name="buscarTexto" class="search form-control" placeholder="Buscar..">
                        </div>
                        <div class="col-md-1 mt-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  
                                </button>
                                <div class="dropdown-menu button-small">
                                    <a class="dropdown-item">PDF</a>
                                    <a class="dropdown-item">EXCEL</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="w-1/4 px-4 py-2">ID-CAT </th>
                                <th class="w-1/4 px-4 py-2">Nombre</th>
                                <th class="w-1/4 px-4 py-2">Descripción </th>
                                <th class="w-1/4 px-4 py-2">Ingredientes </th>
                                <th class="w-1/4 px-4 py-2">Piezas </th>
                                <th class="w-1/4 px-4 py-2">Precio </th>
                                <th class="w-1/4 px-4 py-2 text-center">Activo</th>
                                <th class="w-1/4 px-4 py-2 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let platillo of platillos">
                                <td class=" px-4 py-2">{{platillo.strNombre}}</td>
                                <td class=" px-4 py-2">{{platillo.strDescripcion}}</td>
                                <td class=" px-4 py-2">{{platillo.strIngredientes}}</td>
                                <td class=" px-4 py-2">{{platillo.nmbPiezas}}</td>
                                <td class=" px-4 py-2">{{platillo.nmbPrecio}}</td>
                                <td class=" px-4 py-2 text-center">{{platillo.blnActivo == true ? 'Sí': 'No'}}</td>
                                <td class=" px-4 py-2 text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn border-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          
                                        </button>
                                        <div class="dropdown-menu">
                                            <a type="button" class="dropdown-item" (click)="mostrarEditar(platillo._id)">Editar</a>
                                            <a type="button" class="dropdown-item" (click)="desactivarCategoria(platillo._id)">Desactivar</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Gestionar Platillos</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <img class="base" src="assets/img/2.jpg">