<div class="padding">
    <div class="row">
        <div class="col-md-4">
            <div class="container ">
                <app-insertar-categorias></app-insertar-categorias>
            </div>
        </div>
        <!-- TABLA -->
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="search form-control" placeholder="Buscar..">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1 col-xs-1">Nombre</th>
                        <th class="col-md-5 col-xs-5">Descripción </th>
                        <th class="col-md-5 col-xs-5">Ingredientes</th>
                        <th class="col-md-3 col-xs-3">Número de piezas</th>
                        <th class="col-md-4 col-xs-4">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>