<div class="text2">
    Editar Platillo
</div>
<form #forma="ngForm">
    <div class="container small padding">
        <form class="text">
            <div class="form-group">
                <label for="exampleInputEmail1">ID-CAT: </label>
                <div>
                    <input class="form-control" type="text" id=" validationServer01" name="idCategoria" [(ngModel)]="platillo.idCategoria" #idCategoria="ngModel" required>

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de platillo: </label>
                <div>
                    <input class="form-control" type="text" id=" validationServer02" name="strNombre" [(ngModel)]="platillo.strNombre" #strNombre="ngModel" required>

                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción:</label>
                <input class="form-control" type="text" id=" validationServer03" name="strDescripcion" [(ngModel)]="platillo.strDescripcion" #strDescripcion="ngModel" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ingredientes: </label>
                <div>
                    <input class="form-control" type="text" id=" validationServer04" name="strIngredientes" [(ngModel)]="platillo.strIngredientes" #strIngredientes="ngModel" required>

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Número de Piezas: </label>
                <div>
                    <input class="form-control" type="text" id=" validationServer05" name="nmbPiezas" [(ngModel)]="platillo.nmbPiezas" #nmbPiezas="ngModel" required>

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Precio: </label>
                <div>
                    <input class="form-control" type="text" id=" validationServer06" name="nmbPrecio" [(ngModel)]="platillo.nmbPrecio" #nmbPrecio="ngModel" required>

                </div>
            </div>
            <button type="submit" class=" style btn border-info mr-3" (click)="editarCategoria()">Actualizarr</button>
            <button type="button" class=" style btn border-info mr-3" (click)="cancelar()">Cancelar</button>

        </form>
    </div>
</form>