<div class="contenedor">
    <img src="assets/img/restaurant1.jpg" class="card-img-top">
    <div class="sub">
        ANTOJITOS MEXICANOS
    </div>

    <div class="tittle">
        “Juanita y Don Miguel”
    </div>

    <button type="submit" [routerLink]="'/platillos'" class="btn btn-lg boton">PLATILLOS</button>
    <button type="submit" [routerLink]="'/categorias'" class="btn btn-lg boton2">CATEGORIAS</button>
</div>
<div>

    <img class="base" src="assets/img/2.jpg">
</div>
<!-- 
<div class="">
    <div class="row">
        <div class="col-md-5">
            <div class="container ">
                <app-platillos></app-platillos>
            </div>
            <div class="container mt-4">
                <app-categoria></app-categoria>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Buscar..">
            </div>
            <span class="counter pull-right"></span>
            <table class="table table-hover table-bordered results">
                <thead>
                    <tr>
                        <th class="col-md-4 col-xs-4">Nombre de categoria</th>
                        <th class="col-md-5 col-xs-5">Descripción</th>
                        <th class="col-md-5 col-xs-5">Ingredientes</th>
                        <th class="col-md-3 col-xs-3">Número de piezas</th>
                        <th class="col-md-4 col-xs-4">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                    <tr>
                        <td>asdfgh</td>
                        <td>dfghj</td>
                        <td>fgh</td>
                        <td> 455</td>
                        <td>$128</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->