<div class="contenedor">
    <img src="assets/img/categorias.jpg" class="card-img-top">
    <div class="sub tittle">
        Gestión De Categorias
    </div>


    <div class="style text">
        <div class="padding">
            <div class="row ">
                <div class="col-md-4">
                    <div class=" " *ngIf="registrarCategorias">
                        <app-insertar-categorias [idCategorias]="idCategorias" (terminarActualizacion)="cancelarEditar($event)"></app-insertar-categorias>
                    </div>
                    <div class="" *ngIf="actualizarCategorias">
                        <app-editar-categorias [idCategorias]="idCategorias" (terminarActualizacion)="cancelarEditar($event)"></app-editar-categorias>
                    </div>
                </div>
                <!-- TABLA -->


                <div class="col-md-8">
                    <div class="row container mt-4">

                        <div class="col-md-11 mt-2">
                            <input type="text" [(ngModel)]="buscarTexto" name="buscarTexto" class="search form-control" placeholder="Buscar..">
                        </div>
                        <div class="col-md-1 mt-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  
                                </button>
                                <div class="dropdown-menu button-small">
                                    <a class="dropdown-item">PDF</a>
                                    <a class="dropdown-item">EXCEL</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="w-1/4 px-4 py-2">Nombre</th>
                                <th class="w-1/4 px-4 py-2">Descripción </th>
                                <th class="w-1/4 px-4 py-2 text-center">Activo</th>
                                <th class="w-1/4 px-4 py-2 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of categorias">
                                <td class=" px-4 py-2">{{categoria.strNombre}}</td>
                                <td class=" px-4 py-2">{{categoria.strDescripcion}}</td>
                                <td class=" px-4 py-2 text-center">{{categoria.blnActivo == true ? 'Sí': 'No'}}</td>
                                <td class=" px-4 py-2 text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn border-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          
                                        </button>
                                        <div class="dropdown-menu">
                                            <a type="button" class="dropdown-item" (click)="mostrarEditar(categoria._id)">Editar</a>
                                            <a type="button" class="dropdown-item" (click)="desactivarCategoria(categoria._id)">Desactivar</a>
                                            <div class="dropdown-divider"></div>
                                            <a type="button" class="dropdown-item" [routerLink]="['/platillos', categoria._id]">Gestionar Platillos</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <img class="base" src="assets/img/2.jpg">